<div class="content-wrap">
  <mat-card class="marsonry">
    <div class="col">
      <div routerLink="blog/{{item.id}}" class="item" *ngFor="let item of columns[0]; index as i">
        <legend>
          <h4>{{item.title}}</h4>
        </legend>
        <div class="tags_area">
          <a *ngFor="let tag of item.tags" href="#"><span>#{{tag.name}}</span></a>
        </div>
        <div class="thumbnail">
          <ng-container *ngFor="let img of item.images">
            <img src="{{img.path}}" alt="{{img.caption}}">
          </ng-container>
        </div>
        <div>
          <span>{{item.abstract}}</span>
        </div>
      </div>
    </div>
    <div class="col" *ngIf="this.requireColumn > 1">
      <div class="item" *ngFor="let item of columns[1]; index as i">
        <legend>
          <h4>{{item.title}}</h4>
        </legend>
        <div class="tags_area">
          <a *ngFor="let tag of item.tags" href="#"><span>#{{tag.name}}</span></a>
        </div>
        <div class="thumbnail">
          <ng-container *ngFor="let img of item.images">
            <img src="{{img.path}}" alt="{{img.caption}}">
          </ng-container>
        </div>
        <div>
          <span>{{item.abstract}}</span>
        </div>
      </div>
    </div>
    <div class="col" *ngIf="this.requireColumn > 2">
      <div class="item" *ngFor="let item of columns[2]; index as i">
        <legend>
          <h4>{{item.title}}</h4>
        </legend>
        <div class="tags_area">
          <a *ngFor="let tag of item.tags" href="#"><span>#{{tag.name}}</span></a>
        </div>
        <div class="thumbnail">
          <ng-container *ngFor="let img of item.images">
            <img src="{{img.path}}" alt="{{img.caption}}">
          </ng-container>
        </div>
        <div>
          <span>{{item.abstract}}</span>
        </div>
      </div>
    </div>
    <div class="col" *ngIf="this.requireColumn > 3">
      <div class="item" *ngFor="let item of columns[3]; index as i">
        <legend>
          <h4>{{item.title}}</h4>
        </legend>
        <div class="tags_area">
          <a *ngFor="let tag of item.tags" href="#"><span>#{{tag.name}}</span></a>
        </div>
        <div class="thumbnail">
          <ng-container *ngFor="let img of item.images">
            <img src="{{img.path}}" alt="{{img.caption}}">
          </ng-container>
        </div>
        <div>
          <span>{{item.abstract}}</span>
        </div>
      </div>
    </div>
    <div class="col" *ngIf="this.requireColumn > 4">
      <div class="item" *ngFor="let item of columns[4]; index as i">
        <legend>
          <h4>{{item.title}}</h4>
        </legend>
        <div class="tags_area">
          <a *ngFor="let tag of item.tags" href="#"><span>#{{tag.name}}</span></a>
        </div>
        <div class="thumbnail">
          <ng-container *ngFor="let img of item.images">
            <img src="{{img.path}}" alt="{{img.caption}}">
          </ng-container>
        </div>
        <div>
          <span>{{item.abstract}}</span>
        </div>
      </div>
    </div>
  </mat-card>
</div>