
<mat-toolbar class="mainbar">
    <div class="top-sidebar">
        <div (click)="changePresentColor(this.LEFTCOLOR)" class="color-col orange">
            <img class="menu-icon" src="assets/images/smile.webp" width="30px" alt="">
        </div>
        <div (click)="changePresentColor(this.MIDCOLOR)" class="color-col yellow">
            <img class="menu-icon" src="assets/images/smile.webp" width="30px" alt="">
        </div>
        <div (click)="changePresentColor(this.RIGHTCOLOR)" class="color-col blue">
            <img class="menu-icon" src="assets/images/smile.webp" width="30px" alt="">
        </div>
    </div>
    <a routerLink="/">
        <img src="assets/images/colors-font256.webp" width="64px" alt="">
    </a>
</mat-toolbar>
<div class="sidebar">
    <div [@sideExpand]="leftColorState" class="color-col orange">
    </div>
    <div [@sideExpand]="midColorState" class="color-col yellow">
    </div>
    <div [@sideExpand]="rightColorState" class="color-col blue">
    </div>
</div>

<div class="container">
    <!-- router content out let -->
    <router-outlet class="" style="z-index:1;"></router-outlet>
</div>

<div class="footer">
    
</div>