@import '../definition.scss';
.container {
    @include animation(showUp, .3s, ease-in, 0s, 1);
}

.mainbar {
    color: black;
    background: white;
    transition: all 400ms ease-in;
    &:hover {
        background: rgb(209, 209, 209);
    }
}

