@mixin desktop_screen {
    @media screen and (min-width: 1080px) {
        @content;
    }
}

@mixin tablet_screen {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin mobile_screen {
    @media screen and (min-width: 480px) {
        @content;
    }
}

// Definition of common @Mixin here
@mixin display_grid {
    display: grid;
    display: -ms-grid;
}

@mixin display_flex {
    display: flex;
    display: -webkit-flex;
}

/* animation.scss */

@mixin animation($name, $duration, $function: ease, $delay: 0s, $count: infinite) {
    -webkit-animation: $name $duration $function $delay $count;
    -moz-animation: $name $duration $function $delay $count;
    -ms-animation: $name $duration $function $delay $count;
    -o-animation: $name $duration $function $delay $count;
    animation: $name $duration $function $delay $count;
}

/* keyframes.scss */

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-ms-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(showUp) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}