@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'definition.scss';
/* mardown style file */
html{scroll-behavior: smooth;}
body>.bg {
    animation: showUp 0.3s ease-in;
    background: url('assets/images/bg.webp') #fff;
    background-size: 1800px;
    width: 300%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.content-wrap {
    @include mobile_screen {
        margin: 56px 5% 0 5%;
    }
    @include tablet_screen {
        margin: 56px 10% 0 10%;
    }
    @include desktop_screen {
        margin: 64px 20% 0 20%;
    }
}